body {
  font-family: "Cormorant", serif;
}
h1,
h2,
h3,
p {
  color: #5a6276;
}
h3 {
  font-size: 20px;
  text-align: center;
}
p {
  display: block;
  margin: 0 auto;
  text-align: center;
}

li {
  color: #5a6276;
  list-style: none;
  text-align: left;
  font-size: 25px;
}
.container {
  max-width: 750px;
  margin: 20px auto;
}
.weather-app {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 5px;
  margin-top: 5%;
  max-width: 750px;
  padding: 30px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
}
.button-geolocation {
  border: none;
  background: transparent;
  color: #5a6276;
}
.button-geolocation:focus {
  outline: none;
}
.search-bar {
  text-align: center;
  padding-bottom: 15px;
}
.input-search {
  background: #fff;
  opacity: 0.5;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 35px;
  padding: 10px;
}
.input-search:focus {
  outline: none;
}
.button-search {
  border: none;
  background: transparent;
  color: #5a6276;
}
.button-search:focus {
  outline: none;
}
.overview {
  margin: 10px;
}
.current-location h1 {
  text-transform: capitalize;
  font-size: 40px;
  text-align: left;
  margin-bottom: 1px;
}
.current-date-time {
  text-align: left;
  display: block;
  color: #5a6276;
}
.description {
  color: #5a6276;
}
.current-weather-description {
  text-align: left;
  display: block;
  color: #5a6276;
}
.row .currently-content {
  margin-bottom: 0;
}
.currently-content img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.current-temperature {
  margin-bottom: 10px;
}
.current-temperature .temperature {
  font-size: 80px;
  color: #5a6276;
  line-height: 1;
  font-weight: 450;
}
.current-temperature .units {
  font-size: 20px;
  color: #5a6276;
  position: relative;
  top: -20px;
}
.current-temperature .active {
  color: #5a6276;
  cursor: default;
}
.current-temperature .active:hover {
  text-decoration: none;
}
.day-time {
  display: block;
  color: #5a6276;
}
.currently-content {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: -50px;
}
.weather-details {
  padding-left: 0;
}
.forecast-division {
  text-align: center;
  padding-top: 0;
  color: #b2b4ba;
}
.five-days-forecast img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.open-source p {
  text-align: center;
  margin: 10px;
}
